<nav>
  <div class="site-title">
    <a href="/all-users"><h1>User Point</h1></a>
    <p>Store & view your users data here</p>
  </div>
  <ul>
    <li><a href="/create-user">Add new user</a></li>
    <li><a href="/all-users">All Users</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>