<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs")  %>
<body>
   
  <%- include("./partials/nav.ejs")  %>

    <div class="create-blog content">
      <form action="/create-user" method="POST">
        <label for="name">Username:</label>
        <input type="text" id="name" name="name" required>
        <label for="number">Mobile Number:</label>
        <input type="text" id="number" name="number" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <button>Add</button>
      </form>
    </div>
    <%- include("./partials/footer.ejs")  %>

</body>
</html>   